*:focus {
   outline-width: 2px;
   outline-color: rgba(255, 170, 0, 0.845);
   animation: offsetAni 1500ms ease-in-out infinite;
}
@keyframes offsetAni {
    0% {
        outline-offset: 2px;
    }
    50% {
      outline-offset: 6px;
    }
    100% {
        outline-offset: 2px;
    }
}